@import "mixin";
@import "variables";

@include fontFace("iranyekanCustom", "normal", 200, "../stylesheets/fonts/iranyekan_numbers/iranyekanweblight(fanum)");
@include fontFace("iranyekanCustom", "normal", 400, "../stylesheets/fonts/iranyekan_numbers/iranyekanwebregular(fanum)");
@include fontFace("iranyekanCustom", "normal", 700, "../stylesheets/fonts/iranyekan_numbers/iranyekanwebbold(fanum)");

body{
  background-color: $body-color ;
  font-family: iranyekanCustom;
}

input:focus{
  outline: 0;
}
a{
  color: $dark-color;
  text-decoration: none;
  &:hover{
    color: #000;
  }
}
ul{
  list-style-type: none;
  padding: 0;
}

.icon{
  font-size: 20px;
  cursor: pointer;
}

.index-sec{
  margin: 80px 0;
  @include media-breakpoint-down(lg){
    margin: 25px 0;
  }
  @include media-breakpoint-between(lg,xl){
    margin: 30px 0;
  }

  .index-widget-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 60px;
    font-weight: 600;
    @include font-size(22px);
    &:before{
      position: absolute;
      bottom: -9px;
      right: 0;
      left: 0;
      background-color: #f3f3f3;
      height: 2px;
      content: "";
      z-index: 0;
      @include media-breakpoint-down(lg){
        bottom: -5px;
      }
    }

    .title-line{
      @include font-size(21px);
      font-weight: 900;
      @include media-breakpoint-down(lg){
        @include font-size(18px);
      }
      &:before{
        content: "";
        width: 130px;
        height: 3px;
        margin-top: 5px;
        border-radius: 20px;
        background-color: $primary-color;
        display: block;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        top: 42px;
        @include media-breakpoint-down(lg){
          top: 32px;
        }
      }
    }
    .box-more{
      display: flex;
      align-items: center;
      @include font-size(16px);
      @include media-breakpoint-down(lg){
        @include font-size(14px);
      }
    }

    .icon{
      display: inline-block;
      height: 18px;
      margin-right: 3px;
      @include font-size(16px)
    }

  }//index-widget-header
}//index-sec

.overlay{
  //z-index: 999;
  background-color: rgba(0, 0, 0, 50%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: $border-radius-sm;
}

.box-cart{
  left: 0;
  display: none;
  @include media-breakpoint-up(xxl){
    width: 30%;
  }
  @include media-breakpoint-between(xl ,xxl){
    width: 30%;
  }
  @include media-breakpoint-between(lg ,xl){
    width: 36%;
  }
  @include media-breakpoint-between(md ,lg){
    width: 47%;
  }
  @include media-breakpoint-between(sm ,md){
    width: 63%;
  }
  .box-cart-body{
    padding: 10px;
    .empty-cart{
      text-align: center;
      .empty-cart-icon{
        width: 100%;
        display: inline-block;
        height: 100%;
        font-size: 100px;
        color: gainsboro;
      }
    }
  }
}//box-cart

.back-to-top{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $primary-color;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 50px;
  right: 15px;
  z-index: 99;
  transition: all 0.3s ease-out;
  opacity: 0;
  &.show {
    opacity: 1;
  }

}