.parallax-wrapper{

  .parallax{
    background-image: url("../images/parallax-3.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 200px;
    border-radius: $border-radius-sm;

    .parallax-content{
      position: relative;
      top: 25%;
      text-align: center;
      color: #fff;
      z-index: 99;

      .parallax-header{
        font-weight: 600;
        @include media-breakpoint-down(lg){
          @include font-size(22px)
        }
      }

      .parallax-btn{
        background-color: $primary-color;
        color: #fff;
        margin-top: 15px;
        padding: 10px 20px;
      }
    }//parallax-content
  }//parallax
}
