.services{
  @include media-breakpoint-down(lg){
    padding-top: 25px;
  }
  .service-card{
    text-align: center;

    &:hover .service-card__img{
      transform: scale(1.1);
    }

    &__img{
      width: 50px;
      height: 50px;
      margin:  0 auto;
      display: block;
      margin-bottom: 25px;
      transition: all 0.2s;
    }
    &__title{
      @include font-size(17px)
    }
    &__subtitle{
      color: #7a7a7a;
      @include font-size(14px)
    }
  }//service-card


}