footer.main-footer
    .container
        .row.justify-content-between.flex-column.flex-lg-row.footer-wrapper
            .col-auto.col-lg-4
                .footer-box
                    .footer-box-logo
                        .header-logo
                            a(href='#')
                                img(src='../images/kian-carpet-low-resolution-logo-color-on-transparent-background (3).png' alt='logoSite')
                                span.logo-title  فـــــــرش کیــــــــان
                        //img(src='images/kian-carpet-low-resolution-logo-color-on-transparent-background (3).png' alt='لوگو سایت')
                        //span فرش کیان
                    .footer-box__body
                        p.text بزرگترین و تخصصی‌ترین فروشگاه فرش ایران با بیش از ۸ سال تجربه‌، پیش روی شماست. وجودِ انواع فرش‌ ماشینی، فرش‌ دستبافت، فرش کلاسیک، فرش کودک و تابلو فرش به همراه کامل‌ترین مجموعه فرش فانتزی و وارداتی از کشورهایی مانند ترکیه و هند چشم اندازی تماشایی از هنرِ فرش ایران و جهان را در شهر فرش آفریده است.
            .col-auto.col-lg-2
                .footer-box__title
                    h4.text تماس با ما
                .footer-box__body
                    ul.footer-list
                        li.footer-item
                            a(href='') وبلاگ
                        li.footer-item
                            a(href='') راهنمای خرید
                        li.footer-item
                            a(href='') سوالات متداول
            .col-auto.col-lg-2
                .footer-box__title
                    h4.text منوی سایت
                .footer-box__body
                    ul.footer-list
                        li.footer-item
                            a(href='') وبلاگ
                        li.footer-item
                            a(href='') راهنمای خرید
                        li.footer-item
                            a(href='') سوالات متداول


            .col-auto.col-lg-4.col-xl-3
                .footer-box__title
                    h4.text ما را دنبال کنید
                .footer-box__body
                    ul.social-icon-list
                        li.social-icon-item
                            a(href='')
                                i.icon.bi.bi-whatsapp
                        li.social-icon-item
                            a(href='')
                                i.icon.bi.bi-telegram
                        li.social-icon-item
                            a(href='')
                                i.icon.bi.bi-instagram

                    a.enamd(href='')
                        .box
                            img(src='images/enamad1.png' alt='نماد الکترونیک')
                        //.box
                        //    img(src='images/enamad2.webp')
    .footer-info.d-flex.justify-content-between.align-items-center
        .container
            .row
                .col-lg-6.footer-info__box
                    span تمامی حقوق این سایت متعلق به
                    a(href='') فرش کیان
                    span میباشد
                .col-lg-6.justify-content-center.justify-content-lg-end.footer-info__box
                    span.text طراحی شده در فناوری اطلاعات آیتیسا
                    span.logo-site
                        img(src='images/itsa-logo.gif')







