extends partials/layout
block main
    section.main-slider
        .container
            .swiper
                .swiper-wrapper
                    .swiper-slide
                        a(href='#')
                            img(src='images/item4-slider.jpg')
                    .swiper-slide
                        a(href='#')
                            img(src='images/item5-slider.jpg')

                .swiper-pagination
                .swiper-button-prev
                    span.icon
                .swiper-button-next
                .swiper-scrollbar
    //main-slider
    section.index-sec
        .container
            .row.banners__wrapper
                .col-lg-5
                    .banners__item
                        img(src='images/banner-carpet20.jpg')
                        img(src='images/banner-carpet17.webp')
                .col-lg-7.col-auto
                    .banners__item.item-1
                        img(src='images/banner-carpet26.jpg')



    //banner-wrapper
    section.index-sec.category
        .container
            .index-widget-header
                h3.title-line دسته بندی محصولات
                button.btn.box-more
                    span مشاهده همه
                    i.icon.bi.bi-arrow-left

            .row
                .col-6.col-md-4.col-lg-3.col-xl-2
                    article.category-card
                        a.category-link(href='#')
                            header.category-card-header
                                img.category-img(src='images/farsh1.jpg')
                                img.category-img.category-img-center(src='images/farsh3.jpg')
                                img.category-img(src='images/farsh2.jpg')

                            footer.category-card-footer
                                p.title فرش قرمز
                .col-6.col-md-4.col-lg-3.col-xl-2
                    article.category-card
                        a.category-link(href='#')
                            header.category-card-header
                                img.category-img(src='images/farsh4.jpg')
                                img.category-img.category-img-center(src='images/farsh6.png')
                                img.category-img(src='images/farsh5.jpg')

                            footer.category-card-footer
                                p.title فرش آبی
                .col-6.col-md-4.col-lg-3.col-xl-2
                    article.category-card
                        a.category-link(href='#')
                            header.category-card-header
                                img.category-img(src='images/farsh2.jpg')
                                img.category-img.category-img-center(src='images/farsh1.jpg')
                                img.category-img(src='images/farsh3.jpg')

                            footer.category-card-footer
                                p.title فرش طوسی
                .col-6.col-md-4.col-lg-3.col-xl-2
                    article.category-card
                        a.category-link(href='#')
                            header.category-card-header
                                img.category-img(src='images/farsh3.jpg')
                                img.category-img.category-img-center(src='images/farsh2.jpg')
                                img.category-img(src='images/farsh1.jpg')

                            footer.category-card-footer
                                p.title فرش کرم
                .col-6.col-md-4.col-lg-3.col-xl-2
                    article.category-card
                        a.category-link(href='#')
                            header.category-card-header
                                img.category-img(src='images/farsh1.jpg')
                                img.category-img.category-img-center(src='images/farsh5.jpg')
                                img.category-img(src='images/farsh6.png')

                            footer.category-card-footer
                                p.title فرش نارنجی
                .col-6.col-md-4.col-lg-3.col-xl-2
                    article.category-card
                        a.category-link(href='#')
                            header.category-card-header
                                img.category-img(src='images/farsh1.jpg')
                                img.category-img.category-img-center(src='images/farsh4.jpg')
                                img.category-img(src='images/farsh2.jpg')

                            footer.category-card-footer
                                p.title فرش قرمز
                .col-6.col-md-4.col-lg-3.col-xl-2
                    article.category-card
                        a.category-link(href='#')
                            header.category-card-header
                                img.category-img(src='images/farsh4.jpg')
                                img.category-img.category-img-center(src='images/farsh3.jpg')
                                img.category-img(src='images/farsh2.jpg')

                            footer.category-card-footer
                                p.title فرش فیروزه ای
                .col-6.col-md-4.col-lg-3.col-xl-2
                    article.category-card
                        a.category-link(href='#')
                            header.category-card-header
                                img.category-img(src='images/farsh3.jpg')
                                img.category-img.category-img-center(src='images/farsh5.jpg')
                                img.category-img(src='images/farsh2.jpg')

                            footer.category-card-footer
                                p.title فرش سبز
                .col-6.col-md-4.col-lg-3.col-xl-2
                    article.category-card
                        a.category-link(href='#')
                            header.category-card-header
                                img.category-img(src='images/farsh4.jpg')
                                img.category-img.category-img-center(src='images/farsh1.jpg')
                                img.category-img(src='images/farsh2.jpg')

                            footer.category-card-footer
                                p.title فرش مشکی
                .col-6.col-md-4.col-lg-3.col-xl-2
                    article.category-card
                        a.category-link(href='#')
                            header.category-card-header
                                img.category-img(src='images/farsh1.jpg')
                                img.category-img.category-img-center(src='images/farsh5.jpg')
                                img.category-img(src='images/farsh2.jpg')

                            footer.category-card-footer
                                p.title فرش طوسی
                .col-6.col-md-4.col-lg-3.col-xl-2
                    article.category-card
                        a.category-link(href='#')
                            header.category-card-header
                                img.category-img(src='images/farsh1.jpg')
                                img.category-img.category-img-center(src='images/farsh2.jpg')
                                img.category-img(src='images/farsh4.jpg')

                            footer.category-card-footer
                                p.title فرش گلبهی
                .col-6.col-md-4.col-lg-3.col-xl-2
                    article.category-card
                        a.category-link(href='#')
                            header.category-card-header
                                img.category-img(src='images/farsh1.jpg')
                                img.category-img.category-img-center(src='images/farsh3.jpg')
                                img.category-img(src='images/farsh2.jpg')

                            footer.category-card-footer
                                p.title فرش آبی


    //category
    section.index-sec.products-wrapper
        .container
            header.index-widget-header
                h3.title-line محصولات پرفروش
                button.btn.box-more
                    span مشاهده همه
                    i.icon.bi.bi-arrow-left
            .swiper2.swiper-products
                .swiper-wrapper
                    article.swiper-slide.product-card
                        .sale-perc 55%
                        .product-card__img
                            a(href='')
                                img.show-img(src='images/best-product1.jpg')
                                img.show-on-hover(src='images/best-product-h-1.jpg')
                        .product-card__body
                            p.title  فرش ماشینی طرح افشان گلریز زمینه سرمه ای
                            .product-card-footer
                                .price
                                    .price__off
                                        span.number 200000
                                        span تومان
                                    .price__current
                                        span.number 250000
                                        span تومان
                                button.btn.icon.bi.bi-cart.buy-btn افزودن به سبد خرید



                    article.swiper-slide.product-card
                        .product-card__img
                            a(href='#')
                                img.show-img(src='images/best-product-2.jpg')
                                img.show-on-hover(src='images/best-product-h-2.jpg')

                        .product-card__body
                            p.title فرش کلاسیک گل برجسته زمینه دودی کد 814
                            .product-card-footer
                                .price
                                    .price__current
                                        span.number 250000
                                        span تومان
                                button.btn.icon.bi.bi-cart.buy-btn افزودن به سبد خرید
                    article.swiper-slide.product-card
                        .sale-perc 58%
                        .product-card__img
                            a(href='#')
                                img.show-img(src='images/best-product-3.jpg')
                                img.show-on-hover(src='images/best-product-h-3.jpg')
                        .product-card__body
                            p.title فرش ماشینی گل برجسته 700 شانه زمینه صدفی کد 818
                            .product-card-footer
                                .price
                                    .price__off
                                        span.number 1000000
                                        span تومان
                                    .price__current
                                        span.number 4850000
                                        span تومان
                                button.btn.icon.bi.bi-cart.buy-btn افزودن به سبد خرید


                    article.swiper-slide.product-card
                        .product-card__img
                            a(href='#')
                                img.show-img(src='images/best-product-4.jpg')
                                img.show-on-hover(src='images/best-product-h-4.jpg')
                        .product-card__body
                            p.title فرش ماشینی 700 شانه گل برجسته زمینه کرم حاشیه دلفینی کد 3071
                            .product-card-footer
                                .price
                                    .price__current
                                        span.number 250000
                                        span تومان
                                button.btn.icon.bi.bi-cart.buy-btn افزودن به سبد خرید


                .swiper-pagination
                //.swiper-button-prev.swiper-nav
                //    span.icon
                //.swiper-button-next.swiper-nav

    //best-products
    section.index-sec.parallax-wrapper
        .container
            .parallax
                .overlay
                .parallax-content
                    h2.parallax-header همین الان خونه خودت را فرش کن
                    button.btn.parallax-btn مشاهده تخفیف های امروز

    //parallax
    section.index-sec.products-wrapper
        .container
            header.index-widget-header
                h3.title-line جدیدترین محصولات
                button.btn.box-more
                    span مشاهده همه
                    i.icon.bi.bi-arrow-left
            .swiper2.swiper-products
                .swiper-wrapper
                    article.swiper-slide.product-card
                        .sale-perc 55%
                        .product-card__img
                            a(href='')
                                img.show-img(src='images/best-product1.jpg')
                                img.show-on-hover(src='images/best-product-h-1.jpg')
                        .product-card__body
                            p.title  فرش ماشینی طرح افشان گلریز زمینه سرمه ای
                            .product-card-footer
                                .price
                                    .price__off
                                        span.number 200000
                                        span تومان
                                    .price__current
                                        span.number 250000
                                        span تومان
                                button.btn.icon.bi.bi-cart.buy-btn افزودن به سبد خرید
                                    //span.icon.bi.bi-suit-heart

                    article.swiper-slide.product-card
                        .product-card__img
                            a(href='#')
                                img.show-img(src='images/best-product-2.jpg')
                                img.show-on-hover(src='images/best-product-h-2.jpg')

                        .product-card__body
                            p.title فرش کلاسیک گل برجسته زمینه دودی کد 814
                            .product-card-footer
                                .price
                                    .price__current
                                        span.number 250000
                                        span تومان
                                button.btn.icon.bi.bi-cart.buy-btn افزودن به سبد خرید


                    article.swiper-slide.product-card
                        .sale-perc 58%
                        .product-card__img
                            a(href='#')
                                img.show-img(src='images/best-product-3.jpg')
                                img.show-on-hover(src='images/best-product-h-3.jpg')
                        .product-card__body
                            p.title فرش ماشینی گل برجسته 700 شانه زمینه صدفی کد 818
                            .product-card-footer
                                .price
                                    .price__off
                                        span.number 1000000
                                        span تومان
                                    .price__current
                                        span.number 4850000
                                        span تومان
                                button.btn.icon.bi.bi-cart.buy-btn افزودن به سبد خرید


                    article.swiper-slide.product-card
                        .product-card__img
                            a(href='#')
                                img.show-img(src='images/best-product-4.jpg')
                                img.show-on-hover(src='images/best-product-h-4.jpg')
                        .product-card__body
                            p.text فرش ماشینی 700 شانه گل برجسته زمینه کرم حاشیه دلفینی کد 3071
                            .product-card-footer
                                .price
                                    .price__current
                                        span.number 250000
                                        span تومان
                                button.btn.icon.bi.bi-cart.buy-btn افزودن به سبد خرید


                .swiper-pagination
                //.swiper-button-prev.swiper-nav
                //    span.icon
                //.swiper-button-next.swiper-nav

    //best-products







    block script
        script.
            let swiper = new Swiper(".swiper", {
                loop: true,
                fadeEffect: {
                    crossFade: true
                },
                spaceBetween: 30,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                autoplay: {
                    delay: 3000,
                },
                breakpoints: {

                    576: {
                        slidesPerView: 1,
                        spaceBetween: 20,
                        navigation: false
                    },
                    768: {
                        slidesPerView: 1,
                        spaceBetween: 40,
                    },
                    992: {
                        slidesPerView: 1,
                        spaceBetween: 40,
                    },
                    1200: {
                        slidesPerView: 1,
                        spaceBetween: 50,
                    },
                    1400: {
                        slidesPerView: 1,
                        spaceBetween: 50,
                    },
                },
            });

            let swiper2 = new Swiper(".swiper2", {
                loop: true,
                spaceBetween: 30,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },

                autoplay: false,
                breakpoints: {
                    0: {
                        slidesPerView: 1.5,
                        spaceBetween: 20,
                        navigation: false
                    },
                    576: {
                        slidesPerView: 1.5,
                        spaceBetween: 15,

                    },
                    768: {
                        slidesPerView: 2.5,
                        spaceBetween: 15,
                    },
                    992: {
                        slidesPerView: 4,
                        spaceBetween: 20,
                    },

                    1200: {
                        slidesPerView: 4,
                        spaceBetween: 20,
                    },
                    1400: {
                        slidesPerView: 4,
                        spaceBetween: 20,
                    },

                },
            });


