extends partials/layout
block main
    .main-slider
        .container
            .swiper
                .swiper-wrapper
                    .swiper-slide
                        a(href='#')
                            picture
                                img(src='images/item4-slider.jpg' alt='عکس اسلایدر شماره یک ')
                    .swiper-slide
                        a(href='#')
                            picture
                                img(src='images/item5-slider.jpg' alt='عکس اسلایدر شماره دو ')

                .swiper-pagination
                .swiper-button-prev
                    span.icon
                .swiper-button-next
                .swiper-scrollbar
    //main-slider
    .index-sec
        .container
            .row.banners__wrapper
                .col-lg-5
                    .banners__item
                        picture
                            img(src='images/banner-carpet1.jpg' alt='بنر شماره یک')
                        picture
                            img(src='images/banner-carpet2.jpg' alt='بنر شماره دو')
                .col-lg-7.col-auto
                    .banners__item.item-1
                        picture
                            img(src='images/banner-carpet26.jpg' alt='بنر شماره سه')



    //banner-wrapper
    section.index-sec.category
        .container
            .index-widget-header
                h3.title-line دسته بندی محصولات
                button.main-btn.box-more
                    span مشاهده همه
                    i.icon.bi.bi-arrow-left

            .row.category-products

                .col-6.col-md-4.col-lg-3.col-xl-2
                    article.category-card
                        a(href='#')
                            header.category-card-header
                                img(src='images/farsh8.jpg' alt='دسته بندی اول')
                            footer.category-card-footer
                                h6.title فرش گبه
                .col-6.col-md-4.col-lg-3.col-xl-2
                    article.category-card
                        a(href='#')
                            header.category-card-header
                                img(src='images/farsh7.jpg' alt='دسته بندی اول')
                            footer.category-card-footer
                                h6.title فرش  وینتج

                .col-6.col-md-4.col-lg-3.col-xl-2
                    article.category-card
                        a(href='#')
                            header.category-card-header
                                img(src='images/farsh9.jpg' alt='دسته بندی اول')
                            footer.category-card-footer
                                h6.title فرش چهل تکه

                .col-6.col-md-4.col-lg-3.col-xl-2
                    article.category-card
                        a(href='#')
                            header.category-card-header
                                img(src='images/farsh8.jpg' alt='دسته بندی اول')
                            footer.category-card-footer
                                h6.title گلیم
                .col-6.col-md-4.col-lg-3.col-xl-2
                    article.category-card
                        a(href='#')
                            header.category-card-header
                                img(src='images/farsh9.jpg' alt='دسته بندی اول')
                            footer.category-card-footer
                                h6.title فرش 1000 شانه

                .col-6.col-md-4.col-lg-3.col-xl-2
                    article.category-card
                        a(href='#')
                            header.category-card-header
                                img(src='images/farsh7.jpg' alt='دسته بندی اول')
                            footer.category-card-footer
                                h6.title فرش 1000 شانه
                //.col-6.col-md-4.col-lg-3.col-xl-2
                //    article.category-card
                //        a.category-link(href='#')
                //            header.category-card-header
                //                img.category-img(src='images/farsh1.jpg' alt='طرح فرش 1')
                //                img.category-img.category-img-center(src='images/farsh3.jpg' alt='طرح فرش 1 ')
                //                img.category-img(src='images/farsh2.jpg' alt='طرح فرش 1 ')
                //
                //            footer.category-card-footer
                //                h6.title فرش قرمز
                //.col-6.col-md-4.col-lg-3.col-xl-2
                //    article.category-card
                //        a.category-link(href='#')
                //            header.category-card-header
                //                img.category-img(src='images/farsh4.jpg' alt='طرح فرش 2')
                //                img.category-img.category-img-center(src='images/farsh6.png' alt='طرح فرش 2')
                //                img.category-img(src='images/farsh5.jpg' alt='طرح فرش 2')
                //
                //            footer.category-card-footer
                //                h6.title فرش آبی
                //.col-6.col-md-4.col-lg-3.col-xl-2
                //    article.category-card
                //        a.category-link(href='#')
                //            header.category-card-header
                //                img.category-img(src='images/farsh2.jpg' alt='طرح فرش 3')
                //                img.category-img.category-img-center(src='images/farsh1.jpg' alt='طرح فرش 3')
                //                img.category-img(src='images/farsh3.jpg' alt='طرح فرش 3')
                //
                //            footer.category-card-footer
                //                h6.title فرش طوسی
                //.col-6.col-md-4.col-lg-3.col-xl-2
                //    article.category-card
                //        a.category-link(href='#')
                //            header.category-card-header
                //                img.category-img(src='images/farsh3.jpg' alt='طرح فرش 4')
                //                img.category-img.category-img-center(src='images/farsh2.jpg' alt='طرح فرش 4')
                //                img.category-img(src='images/farsh1.jpg' alt='طرح فرش 4')
                //
                //            footer.category-card-footer
                //                h6.title فرش کرم
                //.col-6.col-md-4.col-lg-3.col-xl-2
                //    article.category-card
                //        a.category-link(href='#')
                //            header.category-card-header
                //                img.category-img(src='images/farsh1.jpg' alt='طرح فرش 5')
                //                img.category-img.category-img-center(src='images/farsh5.jpg' alt='طرح فرش 5')
                //                img.category-img(src='images/farsh6.png' alt='طرح فرش 5')
                //
                //            footer.category-card-footer
                //                h6.title فرش نارنجی
                //.col-6.col-md-4.col-lg-3.col-xl-2
                //    article.category-card
                //        a.category-link(href='#')
                //            header.category-card-header
                //                img.category-img(src='images/farsh1.jpg' alt='طرح فرش 6')
                //                img.category-img.category-img-center(src='images/farsh4.jpg' alt='طرح فرش 6')
                //                img.category-img(src='images/farsh2.jpg' alt='طرح فرش 6')
                //
                //            footer.category-card-footer
                //                h6.title فرش قرمز
                //.col-6.col-md-4.col-lg-3.col-xl-2
                //    article.category-card
                //        a.category-link(href='#')
                //            header.category-card-header
                //                img.category-img(src='images/farsh4.jpg' alt='طرح فرش 7')
                //                img.category-img.category-img-center(src='images/farsh3.jpg' alt='طرح فرش 7')
                //                img.category-img(src='images/farsh2.jpg' alt='طرح فرش 7')
                //
                //            footer.category-card-footer
                //                h6.title فرش فیروزه ای
                //.col-6.col-md-4.col-lg-3.col-xl-2
                //    article.category-card
                //        a.category-link(href='#')
                //            header.category-card-header
                //                img.category-img(src='images/farsh3.jpg' alt='طرح فرش 8')
                //                img.category-img.category-img-center(src='images/farsh5.jpg' alt='طرح فرش 8')
                //                img.category-img(src='images/farsh2.jpg' alt='طرح فرش 8')
                //
                //            footer.category-card-footer
                //                h6.title فرش سبز
                //.col-6.col-md-4.col-lg-3.col-xl-2
                //    article.category-card
                //        a.category-link(href='#')
                //            header.category-card-header
                //                img.category-img(src='images/farsh4.jpg' alt='طرح فرش 9')
                //                img.category-img.category-img-center(src='images/farsh1.jpg' alt='طرح فرش 9')
                //                img.category-img(src='images/farsh2.jpg' alt='طرح فرش 9')
                //
                //            footer.category-card-footer
                //                h6.title فرش مشکی
                //.col-6.col-md-4.col-lg-3.col-xl-2
                //    article.category-card
                //        a.category-link(href='#')
                //            header.category-card-header
                //                img.category-img(src='images/farsh1.jpg' alt='طرح فرش 10')
                //                img.category-img.category-img-center(src='images/farsh5.jpg' alt='طرح فرش 10')
                //                img.category-img(src='images/farsh2.jpg' alt='طرح فرش 10')
                //
                //            footer.category-card-footer
                //                h6.title فرش طوسی
                //.col-6.col-md-4.col-lg-3.col-xl-2
                //    article.category-card
                //        a.category-link(href='#')
                //            header.category-card-header
                //                img.category-img(src='images/farsh1.jpg' alt='طرح فرش 11')
                //                img.category-img.category-img-center(src='images/farsh2.jpg' alt='طرح فرش 11')
                //                img.category-img(src='images/farsh4.jpg' alt='طرح فرش 11')
                //
                //            footer.category-card-footer
                //                h6.title فرش گلبهی
                //.col-6.col-md-4.col-lg-3.col-xl-2
                //    article.category-card
                //        a.category-link(href='#')
                //            header.category-card-header
                //                img.category-img(src='images/farsh1.jpg' alt='طرح فرش 12')
                //                img.category-img.category-img-center(src='images/farsh3.jpg' alt='طرح فرش 12')
                //                img.category-img(src='images/farsh2.jpg' alt='طرح فرش 12')
                //
                //            footer.category-card-footer
                //                h6.title فرش آبی


    //category
    section.index-sec.products-wrapper
        .container
            header.index-widget-header
                h3.title-line محصولات پرفروش
                button.main-btn.box-more
                    span مشاهده همه
                    i.icon.bi.bi-arrow-left
            .swiper2.swiper-products
                .swiper-wrapper
                    article.swiper-slide.product-card
                        .sale-perc 55%
                        .product-card__img
                            a(href='')
                                img.show-img(src='images/best-product1.jpg' alt='پرفروش ترین محصولات شماره 1')
                                img.show-on-hover(src='images/best-product-h-11.jpg' alt='پرفروش ترین محصولات شماره 1')
                        .product-card__body
                            p.title  فرش ماشینی طرح افشان گلریز زمینه سرمه ای
                            .product-card-footer
                                .price
                                    .price__off
                                        span.number 200000
                                        span تومان
                                    .price__current
                                        span.number 250000
                                        span تومان
                                button.main-btn.icon.bi.bi-cart.buy-btn افزودن به سبد خرید



                    article.swiper-slide.product-card
                        .product-card__img
                            a(href='#')
                                img.show-img(src='images/best-product-2.jpg' alt='پرفروش ترین محصولات شماره 2')
                                img.show-on-hover(src='images/best-product-h-2.jpg' alt='پرفروش ترین محصولات شماره 1')

                        .product-card__body
                            p.title فرش کلاسیک گل برجسته زمینه دودی کد 814
                            .product-card-footer
                                .price
                                    .price__current
                                        span.number 250000
                                        span تومان
                                button.main-btn.icon.bi.bi-cart.buy-btn افزودن به سبد خرید
                    article.swiper-slide.product-card
                        .sale-perc 58%
                        .product-card__img
                            a(href='#')
                                img.show-img(src='images/best-product-3.jpg' alt='پرفروش ترین محصولات شماره 1')
                                img.show-on-hover(src='images/best-product-h-3.jpg' alt='پرفروش ترین محصولات شماره 1')
                        .product-card__body
                            p.title فرش ماشینی گل برجسته 700 شانه زمینه صدفی کد 818
                            .product-card-footer
                                .price
                                    .price__off
                                        span.number 1000000
                                        span تومان
                                    .price__current
                                        span.number 4850000
                                        span تومان
                                button.main-btn.icon.bi.bi-cart.buy-btn افزودن به سبد خرید


                    article.swiper-slide.product-card
                        .product-card__img
                            a(href='#')
                                img.show-img(src='images/best-product-4.jpg' alt='پرفروش ترین محصولات شماره 1')
                                img.show-on-hover(src='images/best-product-h-4.jpg' alt='پرفروش ترین محصولات شماره 1')
                        .product-card__body
                            p.title فرش ماشینی 700 شانه گل برجسته زمینه کرم حاشیه دلفینی کد 3071
                            .product-card-footer
                                .price
                                    .price__current
                                        span.number 250000
                                        span تومان
                                button.main-btn.icon.bi.bi-cart.buy-btn افزودن به سبد خرید


                .swiper-pagination
                //.swiper-button-prev.swiper-nav
                //    span.icon
                //.swiper-button-next.swiper-nav

    //best-products
    section.index-sec.parallax-wrapper

            .parallax
                .overlay
                .parallax-content
                    h2.parallax-header همین الان خونه خودت را فرش کن
                    button.main-btn.parallax-btn مشاهده تخفیف های امروز

    //parallax
    .index-sec.products-wrapper
        .container
            header.index-widget-header
                h3.title-line جدیدترین محصولات
                button.main-btn.box-more
                    span مشاهده همه
                    i.icon.bi.bi-arrow-left
            .swiper2.swiper-products
                .swiper-wrapper
                    article.swiper-slide.product-card
                        .sale-perc 55%
                        .product-card__img
                            a(href='')
                                img.show-img(src='images/best-product1.jpg' alt='پرفروش ترین محصولات شماره 1')
                                img.show-on-hover(src='images/best-product-h-1.jpg' alt='پرفروش ترین محصولات شماره 1')
                        .product-card__body
                            p.title  فرش ماشینی طرح افشان گلریز زمینه سرمه ای
                            .product-card-footer
                                .price
                                    .price__off
                                        span.number 200000
                                        span تومان
                                    .price__current
                                        span.number 250000
                                        span تومان
                                button.main-btn.icon.bi.bi-cart.buy-btn افزودن به سبد خرید
                                    //span.icon.bi.bi-suit-heart

                    article.swiper-slide.product-card
                        .product-card__img
                            a(href='#')
                                img.show-img(src='images/best-product-2.jpg' alt='پرفروش ترین محصولات شماره 1')
                                img.show-on-hover(src='images/best-product-h-2.jpg' alt='پرفروش ترین محصولات شماره 1')

                        .product-card__body
                            p.title فرش کلاسیک گل برجسته زمینه دودی کد 814
                            .product-card-footer
                                .price
                                    .price__current
                                        span.number 250000
                                        span تومان
                                button.main-btn.icon.bi.bi-cart.buy-btn افزودن به سبد خرید


                    article.swiper-slide.product-card
                        .sale-perc 58%
                        .product-card__img
                            a(href='#')
                                img.show-img(src='images/best-product-3.jpg' alt='پرفروش ترین محصولات شماره 1')
                                img.show-on-hover(src='images/best-product-h-3.jpg' alt='پرفروش ترین محصولات شماره 1')
                        .product-card__body
                            p.title فرش ماشینی گل برجسته 700 شانه زمینه صدفی کد 818
                            .product-card-footer
                                .price
                                    .price__off
                                        span.number 1000000
                                        span تومان
                                    .price__current
                                        span.number 4850000
                                        span تومان
                                button.main-btn.icon.bi.bi-cart.buy-btn افزودن به سبد خرید


                    article.swiper-slide.product-card
                        .product-card__img
                            a(href='#')
                                img.show-img(src='images/best-product-4.jpg' alt='پرفروش ترین محصولات شماره 1')
                                img.show-on-hover(src='images/best-product-h-4.jpg' alt='پرفروش ترین محصولات شماره 1')
                        .product-card__body
                            p.text فرش ماشینی 700 شانه گل برجسته زمینه کرم حاشیه دلفینی کد 3071
                            .product-card-footer
                                .price
                                    .price__current
                                        span.number 250000
                                        span تومان
                                button.main-btn.icon.bi.bi-cart.buy-btn افزودن به سبد خرید


                .swiper-pagination
                //.swiper-button-prev.swiper-nav
                //    span.icon
                //.swiper-button-next.swiper-nav

    //best-products
    section.index-sec.services
        .container
            .row
                .col-6.col-lg-3
                    a.service-card(href="#")
                        img.service-card__img(src='images/product-return.svg' alt=' بارگشت محصول')
                        h3.service-card__title بازگشت محصول
                        p.service-card__subtitle تا یک هفته بعد بازگشت بزنید
                .col-6.col-lg-3
                    a.service-card(href="#")
                        img.service-card__img(src='images/guarantee.svg' alt=' تضمین اصالت')
                        h3.service-card__title تضمین اصالت
                        p.service-card__subtitle برای تمام محصولات کیان کارپت
                .col-6.col-lg-3
                    a.service-card(href="#")
                        img.service-card__img(src='images/secure-payment.svg' alt='پرداخت امن')
                        h3.service-card__title پرداخت امن
                        p.service-card__subtitle با خیال راحت خرید کنید
                .col-6.col-lg-3
                    a.service-card(href="#")
                        img.service-card__img(src='images/free-delivery.svg' alt='ارسال رایگان')
                        h3.service-card__title ارسال رایگان
                        p.service-card__subtitle سفارش های بالای 500 هزار تومان


    //services
    section.index-sec.mag
        .container
            header.index-widget-header
                h3.title-line آخرین مقالات
                button.main-btn.box-more
                    span مشاهده همه
                    i.icon.bi.bi-arrow-left

            .swiper2.mag-swiper
                .swiper-wrapper
                    a.mag-card.swiper-slide
                        .mag-card-header
                            img.mag-card__img(src='images/mag-item1.jpg' alt='مقاله شماره 1')
                        .mag-card-body
                            h3.mag-card__title راهنمای کامل انتخاب و خرید فرش
                            p.mag-card__subtitle منظور از تراکم فرش ماشینی چیست و چه تاثیری در کیفیت فرش دارد؟ بررسی دلایل خرید فرش هایی با تراکم بالا


                    a.mag-card.swiper-slide
                        .mag-card-header
                            img.mag-card__img(src='images/mag-item2.jpg' alt='مقاله شماره 2')
                        .mag-card-body
                            h3.mag-card__title فرش مناسب برای هتل چه ویژگی هایی دارد؟
                            p.mag-card__subtitle انتخاب فرش هتل بر مبنای کیفیت نگهداری و تعداد دفعاتی که در سال فرش به شستشوی نیاز دارد.



                    a.mag-card.swiper-slide
                        .mag-card-header
                            img.mag-card__img(src='images/mag-item3.jpg' alt='مقاله شماره 3')
                        .mag-card-body
                            h3.mag-card__title ترفندهای آسان و موثر، در جلوگیری از سرخوردن فرش
                            p.mag-card__subtitle استفاده از ترمز فرش متری ,استفاده از پد لغزش , استفاده از چسب حرارتی , استفاده از وسایل سنگین بر روی فرش


                    a.mag-card.swiper-slide
                        .mag-card-header
                            img.mag-card__img(src='images/mag-item4.jpg' alt='مقاله شماره 4')
                        .mag-card-body
                            h3.mag-card__title برای خرید فرش راه پله چه نکاتی را در نظر بگیریم؟
                            p.mag-card__subtitle با توجه به اینکه راه پله ها هم یکی از قسمت های مهم در دکوراسیون بشمار می آیند و تاثیر شگرفی در زیبایی بخشی به دکوراسیون دارند ، لذا انتخاب کفپوش مناسب برای این قسمت از فضای دکوراسیون بسیار حائز اهمیت می باشد. انتخاب فرش راه پله ای، به گونه ای که با سایر اجزای دکوراسیون متناسب باشد و همچنین به لحاظ کاربردی، بیشترین کارایی را در محیط داشته باشد، نیازمند در نظر گرفتن پاره ای مسائل می باشد.

    //mag
    .box-cart.shared-box
        header.box-cart-header.shared-box__header
            h3.title سبد خرید
            span.close.close-cart
                i.bi.bi-x-circle.ms-2
                span.title بستن

        .box-cart-body
            .empty-cart
                span.empty-cart-icon
                    i.bi.bi-cart-x
                p.empty-title هیچ محصولی در سبد خرید نیست
                .button.main-btn.btn-primary بازگشت به فروشگاه

    //box-cart
    a.back-to-top(href='')
        i.bi.bi-chevron-up








    block script
        script.
            let swiper = new Swiper(".swiper", {
                loop: true,
                fadeEffect: {
                    crossFade: true
                },
                spaceBetween: 30,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                autoplay: {
                    delay: 3000,
                },
                breakpoints: {

                    576: {
                        slidesPerView: 1,
                        spaceBetween: 20,
                        navigation: false
                    },
                    768: {
                        slidesPerView: 1,
                        spaceBetween: 40,
                    },
                    992: {
                        slidesPerView: 1,
                        spaceBetween: 40,
                    },
                    1200: {
                        slidesPerView: 1,
                        spaceBetween: 50,
                    },
                    1400: {
                        slidesPerView: 1,
                        spaceBetween: 50,
                    },
                },
            });

            let swiper2 = new Swiper(".swiper2", {
                loop: true,
                spaceBetween: 30,
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },

                autoplay: false,
                breakpoints: {
                    0: {
                        slidesPerView: 1.5,
                        spaceBetween: 20,
                        navigation: false
                    },
                    576: {
                        slidesPerView: 1.5,
                        spaceBetween: 15,

                    },
                    768: {
                        slidesPerView: 2.5,
                        spaceBetween: 15,
                    },
                    992: {
                        slidesPerView: 4,
                        spaceBetween: 20,
                    },

                    1200: {
                        slidesPerView: 4,
                        spaceBetween: 20,
                    },
                    1400: {
                        slidesPerView: 4,
                        spaceBetween: 20,
                    },

                },
            });


